.diameter-input {
  &__image-wrapper {
    width: 36px;
    height: 36px;
    margin-right: 10px;

    content: "";
    transition: 0.3s;

    border-radius: 50%;
    background-color: $green-100;
    background-image: url("~@/assets/img/diameter.svg");
    background-repeat: no-repeat;
    background-position: center;

    &--small {
      background-size: 18px;
    }

    &--normal {
      background-size: 29px;
    }
  }
}
